@model IEnumerable<SchulBuchWebApp.Models.BookModel>

@{
    ViewBag.Title = "Bücher anzeigen";
}

<h2>Bücher anzeigen</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GegStdKurz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klasse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurztitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preis)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GegStdKurz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurztitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preis)
        </td>
    
        <td>
            @Html.ActionLink("Select", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
